p {
    font-family: 'Shippori Mincho';
    font-size: 30px;
}
.custom-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}
.indexBG{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shit {
    position: absolute;
    top: 30%; 
    left: 20%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
}
.shit:hover {
    cursor: grabbing; 
}
.nextBTN {
    position: absolute;
    width: 15%;
    top: 90%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
}


/* trans */
.genie {
    position: absolute;
    top: 5%; /* 调整垂直位置 */
    right: 5%; /* 调整水平位置 */
    z-index: 1;
}

.B1, .B2, .B3, .B4, .B5 {
    text-align: center;
    padding: 10px;
    margin-top: 150px;
}
.B1, .B2, .B3, .B4, .B5 img {
    max-width: 100%;
    height: auto;
}
.B1 {
    left: 50px;
}
.B2 {
    left: 200px;
}
.B3 {
    left: 350px;
}
.B4 {
    left: 500px;
}
.B5 {
    left: 650px;
}

footer {
    /* background-color: #f8f9fa; */
    padding: 30px 0;
    text-align: center;
}