extends layout

block content
  h1= title

  //--- Input fields
  input#descTxt(type="text")
  //- Upload Button
  input#imgFileInput(type="file" capture='environment' accept='image/*' style='display: none;')
  //- Style for Button
  label(for='imgFileInput' style='border: 1.5px solid black; border-radius: 5px; padding: 5px;') &#x4E0A;&#x50B3;&#x5716;&#x7247;
  input#submit(type="button", value="submit")

  //- Image preview
  img#uploadImg(style="width: 200px; justify-content: fit;")
  //- GPT response content
  p#resContent

  script(src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js")
  script(src="/javascripts/index.js") 
