.floating-window {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    /* background-color: #fff; */
    background-image: url('../../images/badge/floating_window/phoneBG.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 1px solid #ccc; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    z-index: 1000;
}
.WeekWindow_intro{
    overflow-y: auto;
        max-height: 55%;
        scrollbar-width: thin;
        scrollbar-color: darkgrey transparent;
        max-width: 90%;
}


