p{
    font-family: 'Shippori Mincho';
}


.floating-window-container {
    position: fixed;
    top: 50%;
    left: 50%;
    background-image: url('../Assests/images/floating_window/BG.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    width: 68%;
    height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    padding: 20px;
}

.floating-window-header {
    position: sticky;
    z-index: 100; 
    top: 8px;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.floating-window-close-btn {
    position: absolute;
    left: 10px;
    cursor: pointer;
    width: 50px; 
    height: 50px; 
}

.floating-window-content {
    padding: 12px;
    overflow-y: auto;
    max-height: 73vh; 
    /* 定义滚动条样式 */
    scrollbar-width: thin;
    scrollbar-color: darkgrey lightgrey;
}
.floating-window-content::-webkit-scrollbar {
    width: 1px;
}
.floating-window-content::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* 滚动条滑块颜色 */
}
.floating-window-content::-webkit-scrollbar-track {
    background-color: lightgrey; /* 滚动条轨道颜色 */
}
.window_container{
    max-width: 90%;
    margin: 0px auto;
}
.info_suggest img{
    width: 25%;
    height: auto;
    margin: 20px;
}
.info_suggest p{
    font-size: 15px;
    padding: 20px;
}
.record_img{
    width: 25%;
    height: auto;
    margin: 20px;
}
.overlay-text {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.record_anim{
    height: 40%;
}
.content_dis{
    font-size: 18px;
}
.content-trans{
    font-size: 18px;
    text-align: right;
}

.lock-image {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 15%;
}
.lock_word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 18px;
}
