body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/layout/bg.png);
  background-size: contain;
}

.container-fluid {
  padding: 38px 53px;
}

a {
  color: #00B7FF;
}